<?xml version="1.0"?>
<!--
/**
 * Copyright © Karliuka Vitalii(karliuka.vitalii@gmail.com)
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- plugin -->
    <type name="\Magento\Theme\Block\Html\Breadcrumbs">
        <plugin name="faonni_breadcrumbs" type="Faonni\Breadcrumbs\Plugin\Theme\Block\Html\Breadcrumbs"/>
    </type>
</config>